@use "variables" as *;
@use "mixins" as *;

@use "buttons" as *;



:root {
  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
html {
  background-image: url("/public/press-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-family: monospace;
  max-width: 1160px;
  width: 100%;
  
}

header {
  margin: 0 auto;
  text-align: center;
}

